<div id="main">
  <h1>Using jQuery’s post() Function</h1>
  <h2>Log In</h2>
  <div id="content">
    <form action=<%= login_url %>  method="post" name="login" id="login">
      <p>
      <label for="user">User Email:</label>
      <input type="text" name="email" id="user">
      </p>
      <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      </p>
      <p>
      <input type="submit" name="button" id="button" value="Submit">
      </p>
    </form>
  </div>
</div>
